@charset "UTF-8";
.warp{
margin:0 auto;
}
textarea{
font-family: 'NanumSquare';
padding: 10px 0 0 10px; 
}
.menu_all{
display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 20px;
}
.intro{
max-width: 378px;
max-height: 378px;
}

.menu_all .menu_section{
display: flex;
    align-items: center;
    gap: 10px;
}
.menu_all .input_area .intro{
width:300px;
height: 90px;
}
.input_time{
    display: flex;
    padding-top: 20px;
    align-items: center;
    gap: 10px;

}
select{
width:150px;
height: 50px;

  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  outline: 0 none;
}
.input-text-button{
display:flex;
gap:5px; 
}
#sample5_address{
width: 300px;
height: 50px;
padding: 5px 10px 5px 10px;
}
#adr-btn{
background-color: #789849;
width:90px;
color: white;
border: none;
    border-radius: 8px;
}
#adr-btn:hover{
background-color: #7e8377;
color: white;

}
#compony{
width:350px;
height: 50px;
padding: 5px 10px 5px 10px;
}
.menu_all input[type="time"]{
width:200px;
height: 50px;
border: 1px solid lightgray;
}
.menu_all input[type="text"]{
border: 1px solid lightgray;
}
select{
border: 1px solid lightgray;
}
textarea{
border: 1px solid lightgray;
}
#idcheck{
background-color: #789849;
width:120px;
height: 50px;
color: white;
border: none;
    border-radius: 8px;
}
#idcheck:hover{
background-color: #7e8377;
color: white;

}
.input_area{
margin-top: 30px;
margin-bottom: 30px;

}
.submit-id{
padding-top: 60px;
}
h4{padding-top: 20px;padding-bottom: 20px;}
.menu_text{
padding-bottom: 50px;
}
.menu{
padding-top: 20px;
}