@charset "UTF-8";
.wrap{
margin:0 auto;
}
.cust_section{
padding-top:20px;
padding-bottom:20px;
width:700px;
margin:0 auto;

}
.list{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.article_section{
padding: 10px 0px 10px 0px;
   display: grid;
    grid-template-columns: repeat(1, 1fr);
     width: 800px;
}
.cust_Resection{
width: 1280px;
margin: 10px auto;
}
.cust{
display: flex;
align-items: center;
    gap: 10pt;
height: 62.5px;
border: 1px solid lightgray;
}
.ans{
    padding-top: 20px;
    padding-bottom: 20px;
}