@charset "UTF-8";
.wrap{
margin:0 auto;
}
.cust_section{
padding-top:20px;
padding-bottom:20px;
width:700px;
margin:0 auto;
}
.list{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cust_Resection{
width: 1280px;
margin: 10px auto;
}
.cust{
display: flex;
align-items: center;
gap: 10pt;
height: 62.5px;
border: 1px solid lightgray;
}
.ans{
    padding-top: 20px;
    padding-bottom: 20px;
}
.cust_section input[type="text"]{
    height: 80%;
    width: 80%;
    padding: 0 10px 0 10px;
    font-family: 'NanumSquare';
    border: 1px solid lightgray;
    font-size: 14pt;
}
input[type="submit"]{
width:100px;
height: 40px;
background-color: #789849;
color: white;
border: none;
border-radius: 8px;
}
input[type="submit"]:hover{
background-color: #6b745d;
}
.list.btn{
padding-top: 20px;
}
input[type="text"]:focus {
  outline: #789849;
}
.article_section{
	    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 50px;
        width: 800px;
}